[submodule "internals/NESupport"]
	path = internals/NESupport
	url = https://github.com/oceancx/NESupport.git
[submodule "internals/nlohmann"]
	path = internals/nlohmann
	url = https://github.com/oceancx/nlohmann.git
[submodule "internals/cxbase"]
	path = internals/cxbase
	url = https://github.com/oceancx/cxbase.git
[submodule "internals/ezio-cmake"]
	path = internals/ezio-cmake
	url = https://github.com/oceancx/ezio-cmake.git
[submodule "internals/imgui"]
	path = internals/imgui
	url = https://github.com/oceancx/imgui.git
[submodule "internals/kbase-cmake"]
	path = internals/kbase-cmake
	url = https://github.com/oceancx/kbase-cmake.git
[submodule "internals/lua-cmake"]
	path = internals/lua-cmake
	url = https://github.com/oceancx/lua-cmake.git
[submodule "internals/luacjson-cmake"]
	path = internals/luacjson-cmake
	url = https://github.com/oceancx/luacjson-cmake.git
[submodule "externals/glew-cmake"]
	path = externals/glew-cmake
	url = https://github.com/oceancx/glew-cmake.git
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/oceancx/glm.git
[submodule "externals/freetype"]
	path = externals/freetype
	url = https://github.com/oceancx/freetype.git
[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/oceancx/glfw.git
[submodule "externals/SOIL"]
	path = externals/SOIL
	url = https://github.com/oceancx/SOIL.git
[submodule "internals/cxlua"]
	path = internals/cxlua
	url = https://github.com/oceancx/cxlua.git
[submodule "externals/luadebugger"]
	path = externals/luadebugger
	url = https://github.com/oceancx/luadebugger.git
